/* Color Template*/
.color-primary{
    color:$color-primary;
}
.color-primary-bg{
    background:$color-primary;
}
.color-second{
    color:$color-second;
}
.color-second-bg{
    background:$color-second;
}
.color-orange{
    color:$color-orange;
}
.color-orange-bg{
    background:$color-orange;
}